@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    font-family: 'Red Hat Display', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;

    --drop-shadow: drop-shadow(0 .4rem .4rem rgba(0, 0, 0, 0.25));
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: rgb(31, 47, 86);
    --grey-color:  hsl(224, 23%, 55%);
    --white-color: #ffffff;
}

body {   
    background: var(--pale-blue);
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4vw;
}

img {
    max-width: 100%;
    display: block;
}

p {
    line-height: 2.5rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem;
}

main {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.card {
    margin: 0 auto;
    background: var(--white-color);
    border-radius: 2rem;
    filter: var(--drop-shadow);
    min-height: fit-content;
}

.card__hero img {
    border-radius: 2rem 2rem 0 0;
}

.card__body {
    max-width: 26rem;
    margin: 0 auto;
    padding: 1rem;
}

.card__header {
    margin-top: 3rem;
}

.card__header h1 {
    text-align: center;
    font-weight: 900;
    font-size: 2.2rem;
    color: var(--dark-blue);
}

.card__copy {
    font-size: 1.5rem;
    text-align: center;
    color: var(--desaturated-blue);

}

.card__plan {
    background-color: var(--very-pale-blue);
    border-radius: 1.5rem;
    padding: .85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.card__plan__icon {
    margin-left: 1rem;
}

.card__plan__copy {
    margin-left: 2rem;
    margin-right: auto;
}

.card__plan__copy h2 {
    font-weight: 900;
    font-size: 1.4rem;
    color: var(--dark-blue);
}

.card__plan__copy p {
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: -1rem;
    color: var(--grey-color);
}

.card__plan a {
    font-size: 1.3em;
    margin-right: .5rem;
    color: var(--bright-blue);
    font-weight: 700;
}

.card__plan a:hover {
    filter: var(--drop-shadow);
    text-decoration: none;
}

.card__submit {
    text-align: center;
}

.card__submit button {
    cursor: pointer;
    background-color: var(--bright-blue);
    color: #ffffff;
    padding: 1.5rem 0;
    width: 100%;
    border:none;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
    box-shadow: 0px 2rem 2rem rgba(56, 42, 225, 0.190291);
}

.card__submit button:hover {
    background-color: hsl(245, 83%, 68%);
    transition: background-color .25s ease-in;
}

.card__cancel button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--desaturated-blue);
    padding: 1.5rem 0;
    width: 100%;;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card__cancel button:hover, .card__cancel button:active {
    color: var(--dark-blue);
    transition: color .1s ease-in;

}

.card__cancel button:hover {
    filter: var(--drop-shadow);
}

.attribution {
    margin: 1.5em auto 0;
    width: 80%;
    font-size: 1.1rem;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 641px) {
    body {
        background-image: url("images/pattern-background-desktop.svg");
      }
    .card__header h1 {
        font-size: 2.8rem;
    }
    main {
        margin-top:0
    }
    .card__header {
        margin-top: 4rem;
    }
    .card__body {
        max-width: 35rem;
        padding: 0;
    }
    .card__copy {
        font-size: 1.5rem;
    }
    p {
        line-height: 2.6rem;
    }
    .card__body {
        max-width: 34rem;
        padding: 0;
    }
    .card__plan__copy h2 {
        font-size: 1.6rem;
    }
    .card__plan__copy p {
        font-size: 1.6rem;
    }
    .card__plan a {
        font-size: 1.4em;
    }
    .card__cancel button {
        margin-bottom: 3rem;
    }
    
}